<%- include('components/header.ejs'); -%>

<main>
    <%=  %>
    <section class="titleSection">
    <div class="container">
        <h2 class="titleSection__title">Alibazon Store</h2>
        <p class="titleSection__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, repellat inventore reprehenderit perferendis facere dolores hic? Sit neque in harum delectus voluptatibus accusamus rerum provident perferendis laudantium voluptatum? Minima, laudantium?</p>
    </div>
    </section>

    <section class="categoriesSection">
    <div class="container">
        <ul class="categoriesSection__list">
        <% for(let i = 0; i < categories.length; i++) { %>
        <li class="categoriesSection__item">
            <a href="<%= `/category/${ categories[i].id }` %>">
            <figure class="categoriesSection__image">
                <img src="/images/categories/womens-jewelry-necklaces.png" alt="Women category">
                <figcaption><%= categories[i].name %></figcaption>
            </figure>
            </a>
        </li>
        <% } %>
        </ul>
    </div>
    </section>
</main>

<%- include('components/footer.ejs'); -%>