<%- include('components/header.ejs'); -%>

<main>
    <%- include('components/breadcrumbs.ejs'); -%>

    <section>
        <div class="container">
            <div class="productCard">
                <figure>
                    <img src="" alt="">
                    <figcaption class="hidden">Imagem produto</figcaption>
                </figure>
                <article>
                    <h1><%= product.name %></h1>
                    <h2><%= product.page_description %></h2>
                    <p><%= `$${ product.price }` %></p>
                    <button class="btn btn-primary">Add to cart</button>
                </article>
            </div>
        </div>
    </section>
</main>

<%- include('components/footer.ejs'); -%>