<%- include('components/header.ejs'); -%>

<main>
    <%- include('components/breadcrumbs.ejs'); -%>

    <section class="productGridSection">
        <div class="container">
            <ul class="productGridSection__list">

                <% if(products) {
                    for(let i = 0; i < products.length; i++) {
                        const currentProduct = products[i]; %>

                        <li class="productGridSection__item">
                            <a href="<%= `/${ rootCategory }/${ subCategory }/${ subSubCategory }/${ currentProduct.id }`  %>">
                                <figure>
                                    <img src="" alt="">
                                    <figcaption class="hidden">Imagem produto</figcaption>
                                </figure>
                                <h2><%= currentProduct.name %></h2>
                                <p><%= `$${ currentProduct.price }` %></p>
                                <h3><%= currentProduct.short_description %></h3>
                            </a>
                        </li>

                <%
                    }
                }
                %>

            </ul>
        </div>
    </section>
</main>

<%- include('components/footer.ejs'); -%>